<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="version" content="<%= Geppetto::VERSION %>">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link rel="icon" href="/favicon.ico" type="image/x-icon">
<title>Geppetto</title>
<%= stylesheet_tag 'application' %>
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= base_url %>">Geppetto</a>
    </div>
    <div class="navbar-collapse collapse">
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
      <% %w{ primary success info warning danger }.each do |level| %>
        <% if flash[level.to_sym].present? %>
          <div class="alert alert-<%= level %> alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong><%= level.titlecase %>!</strong> <%= flash[level.to_sym] %>
          </div>
        <% end %>
      <% end %>
      <%= yield %>
    </div>
  </div>
</div>
<script src="/assets/application.js"></script>
</body>
</html>
